* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'inter', sans-serif;
    background-color: #f7f4ed;
    color: #26352c;
    line-height: 1.6;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
}